# exclude tools
tools/*

## except patches
!tools/asar191/
tools/asar191/*
!tools/asar191/patches/
!tools/asar191/patches/*

## except uberasm/retry
!tools/UberASMTool21/
tools/UberASMTool21/*
!tools/UberASMTool21/gamemode/
!tools/UberASMTool21/gamemode/*
!tools/UberASMTool21/level/
!tools/UberASMTool21/level/*
!tools/UberASMTool21/library/
!tools/UberASMTool21/library/*
!tools/UberASMTool21/retry_config
!tools/UberASMTool21/retry_config/*

## except blocks
!tools/GPS(V1.4.5)/
tools/GPS(V1.4.5)/*
!tools/GPS(V1.4.5)/blocks/
!tools/GPS(V1.4.5)/blocks/*
tools/GPS(V1.4.5)/blocks/template.asm

# exclude roms and executables
*.smc
*.exe