# exclude tools
tools/*

## except patches
!tools/asar/
tools/asar/*
!tools/asar/patches/
!tools/asar/patches/*

## except uberasm/retry
!tools/uberasm/
tools/uberasm/*
!tools/uberasm/gamemode/
!tools/uberasm/gamemode/*
!tools/uberasm/level/
!tools/uberasm/level/*
!tools/uberasm/library/
!tools/uberasm/library/*
!tools/uberasm/retry_config
!tools/uberasm/retry_config/*

## except blocks
!tools/gps/
tools/gps/*
!tools/gps/blocks/
!tools/gps/blocks/*
tools/gps/blocks/template.asm

# exclude roms and executables
*.smc
*.exe